.page {
  min-inline-size: 320px;
  min-block-size: 100dvh;
  justify-self: center;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.header {
  padding: 48px 112px 0 112px;
  inline-size: clamp(20rem, 100vw + 0rem, 90rem);
  min-inline-size: 280px;
  justify-self: center;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  inline-size: clamp(17.5rem, 83.571vw + 0.786rem, 76rem);
}

.header__burger-button {
  display: none;
}

.burger-menu {
  display: none;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}

.logo__icon {
  fill: #726DA8;
  transition: fill 0.5s;
}

.logo:hover .logo__icon {
  fill: #A0D2DB;
}

.logo__text {
  font-size: 28px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
}

.nav-menu__item {
  color: #333333;
  transition: color 0.5s;
}

.nav-menu__item:hover {
  color: #726DA8;
}

.social__icon {
  fill: #726DA8;
  transition: fill 0.5s;
}

svg:hover {
  fill: #A0D2DB;
}

.main {
  justify-self: center;
  align-items: center;
  margin-block-start: 32px;
}

.slider {
  justify-self: center;
}

.slides__container {
  position: relative;
  inline-size: clamp(48rem, 100vw + 0rem, 120rem);
}

.care-slide {
  position: relative;
  clip-path: ellipse(100% 100% at 50% 0%);
  overflow: hidden;
  background-color: #394573;
  color: #BEE7E8;
}

.care-slide::before {
  content: "";
  z-index: -1;
  position: absolute;
  background-image: url(../images/care-slide__image.png);
  background-repeat: no-repeat;
  background-position-X: 850px;
  background-position-y: 70px;
  width: 100%;
  height: 100%;
}

.ordering-slide {
  inline-size: 100%;
  block-size: 100%;
  background-image: url(../images/ordering-slide__image.png);
  background-position-x: 80%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  color: #394573;
}

.slick-dots {
  display: none !important;
}

.slick-arrow {
  position: absolute;
  z-index: 10;
  margin: 0;
  font-size: 0;
  inline-size: 50px;
  block-size: 50px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.3);
}

.slick-prev {
  top: 32px;
  left: 112px;
  border: none;
  border-radius: 50%;
  background-image: url(../svg/arrow_left.svg);
  background-position: center;
  background-repeat: no-repeat;
} 

.slick-prev.slick-disabled {
  background-image: url(../svg/arrow_left_disabled.svg);
}

.slick-next.slick-disabled {
  background-image: url(../svg/arrow_right_disabled.svg);
}

.slick-next {
  top: 32px;
  right: 112px;
  border: none;
  border-radius: 50%;
  background-image: url(../svg/arrow_right.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.slide__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 105px 722px 0px 112px;
  margin-block-end: 32px;
}

.ordering-slide .slide__content {
  padding-block-start: 136px;
  margin-block-end: 24px;
}

.slide__title {
  font-size: clamp(1.5rem, 1.0357rem + 2.3214vw, 3.125rem);
  font-weight: 600;
}

.slide__text {
  font-size: clamp(0.875rem, 0.5893rem + 1.4286vw, 1.875rem);
  font-weight: 500;
}

.slide__mobile-text {
  display: none;
}

.ordering-slide__delivery-price {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: clamp(1.125rem, 0.8036rem + 1.6071vw, 2.25rem);
  font-weight: 600;
}

.ordering-slide__delivery-accent-price {
  font-size: clamp(1.375rem, 1.0179rem + 1.7857vw, 2.625rem);
}

.slide-button {
  display: block;
  inline-size: clamp(10rem, 100vw + 0rem, 18.75rem);
  block-size: 60px;
  padding: 0;
  margin-inline-start: 112px;
  margin-block-end: 146px;
  background-image: linear-gradient(to right, #A0D2DB 0%, #726DA8 100%);
  border: none;
  border-radius: 40px;
  font-size: clamp(0.875rem, 0.7321rem + 0.7143vw, 1.375rem);
  font-weight: 500;
  color: white;
}

.care-slide .slide-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordering-slide .slide-button {
  margin-block-end: 109px;
  background-image: none;
  background-color: #394573;
  transition: background-color 0.5s;
}

.ordering-slide .slide-button:hover {
  background-color: #726DA8;
}

.care-slide .slide-button:hover {
  background-image: linear-gradient(to left, #A0D2DB 0%, #726DA8 100%);
}

.cards {
  margin-block-start: 70px;
}

.cards__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  inline-size: clamp(17.5rem, 100vw + 0rem, 37rem);
  border-radius: 40px;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.25);
  background-color: white;
  
}

.consultation-card {
  cursor: pointer;
  inline-size: clamp(17.5rem, 100vw + 0rem, 37rem);
  perspective: 1000px;
}

.consultation-card__front {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(../images/dog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}

.consultation-card__front .card__content {
  padding: 64px 40px 134px;
  background-image: linear-gradient(to top, #333333 0%, transparent 100%);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.consultation-card__back .card__content {
  padding: 48px 40px 0px;
  margin-block-end: 57px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.consultation-card__back .card__title {
  color: #394573;
}

.consultation-card__front .card__title::before {
  content: "";
  position: absolute;
  bottom: 99px;
  left: 40px;
  color: white;
  inline-size: 230px;
  border: 1px solid white;
}

.consultation-card__front .card__title::after {
  content: "";
  position: absolute;
  bottom: 95px;
  left: 260px;
  color: white;
  inline-size: 10px;
  block-size: 10px;
  border-inline-end: 2px solid white;
  border-block-end: 2px solid white;
  transform: rotate(-45deg);
}

.consultation-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}

.price {
  font-size: clamp(1.375rem, 1.1964rem + 0.8929vw, 2rem);
  font-weight: 600;
  color: #A0D2DB;
}

.accent-price {
  font-size: clamp(1.625rem, 1.375rem + 1.25vw, 2.5rem);
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefits__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: clamp(0.875rem, 0.7321rem + 0.7143vw, 1.375rem);
  color: #333333;
}

.benefits__mobile-description {
  display: none;
}

.check__icon {
  min-inline-size: 56px;
  min-block-size: 56px;
}

.check__mobile-icon {
  display: none;
}

.button {
  inline-size: clamp(13.75rem, 11.071vw + 11.536rem, 21.5rem);
  padding: 17px 45px 16px 46px;
  margin-inline-start: 40px;
  background-color: #394573;
  border-radius: 40px;
  font-size: clamp(0.875rem, 0.7321rem + 0.7143vw, 1.375rem);
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #726DA8;
}

.breeds-card .card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: flex-end;
  background-image: linear-gradient(to top, #333333 0%, transparent 100%);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.consultation-card__inner {
  position: relative;
  transform-style: preserve-3d;
  inline-size: inherit;
  block-size: 630px;
  transition: transform 1.5s;
  transform-origin: center center;
}

.consultation-card__front, .consultation-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.consultation-card__back {
  transform: rotateY(180deg);
}

.consultation-card:hover .consultation-card__inner {
  transform: rotateY(180deg);
}

.breeds-card {
  background-image: url(../images/sleeping-cat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 379px 40px 0px;
}

.card__title {
  font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
  font-weight: 600;
}

.card__text {
  font-size: clamp(0.875rem, 0.6964rem + 0.8929vw, 1.5rem);
  font-weight: 400;
}

.card__info {
  display: block;
  background-color: #333333;
  padding: 22px 0 21px 40px;
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  font-weight: 600;
  text-decoration: none;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.card__info:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.pop-up {
  inline-size: clamp(17.5rem, 27.857vw + 11.929rem, 37rem);
  background-color: white;
  padding: 48px 40px;
  border: none;
  border-radius: 40px;
}

.pop-up[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-up[open]::backdrop {
  background-color: #2F2F2F;
  opacity: 25%;
}

body:has(.pop-up[open]) {
  overflow: hidden;
}

.pop-up__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: clamp(1rem, 0.8929rem + 0.5357vw, 1.375rem);
  color: #394573;
}

.pop-up__title {
  font-size: clamp(1rem, 0.8929rem + 0.5357vw, 1.375rem);
  font-weight: 600;
  text-align: center;
}

.pop-up__radio {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radio-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.radio-form__container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

.radio-form label {
  font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
}

.radio-form__input {
  appearance: none;
  position: relative;
  inline-size: 24px;
  block-size: 24px;
  border-radius: 10px;
  border-radius: 50%;
  background-image: url(../svg/radio.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0;
}

input[type="radio"]:checked {
  background-image: url(../svg/radio_checked.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pet-info-form__container {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.pet-info-form input {
  block-size: 40px;
  inline-size: clamp(15rem, 24.286vw + 10.143rem, 32rem);
  font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #394573;
}

input::placeholder {
  color: #394573; 
}

.pet-info-form input:focus {
  outline: none;
}

.submit-button {
  margin-block-start: 48px;
  margin-inline-start: 95px;
  inline-size: clamp(15rem, 5.357vw + 13.929rem, 18.75rem);
  font-size: clamp(1.25rem, 1.2143rem + 0.1786vw, 1.375rem);
}

.pop-up__button--close {
  position: absolute;
  top: 32px;
  right: 32px;
  display: block;
  inline-size: 24px;
  block-size: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  background-image: url(../svg/close.svg);
}

.footer {
  padding: 49px 0px 46px;
  margin-block-start: 72px;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  inline-size: clamp(17.5rem, 83.571vw + 0.786rem, 76rem);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
  font-weight: 500;
  color: #726DA8;
}

.contacts__link:hover {
  text-decoration: underline;
  text-underline-position: under;
  color: currentColor;
}

.copyright {
  font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  font-weight: 400;
  color: #394573;
}

.copyright-mobile {
  display: none;
  font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  font-weight: 400;
  color: #394573;
}

.footer .logo {
  margin-inline-start: 22px;
}

/*это мне все ломает блин*/

/*@media (resolution >= 2x) {
  .care-slide::before {
    background-image: url(../images/care-slide__image@2x.png);
  }

  .ordering-slide {
    background-image: url(../images/ordering-slide__image@2x.png);
  }

  .consultation-card__front {
    background-image: url(../images/dog@2x.png);
  }

  .breeds-card {
    background-image: url(../images/sleeping-cat@2x.png);
  }
}*/

@media (width >= 1920px) {
  .care-slide::before {
    background-position-X: 1080px;
    background-position-y: 55px;
  }

  .care-slide .slide__content {
    padding-left: 350px;
    padding-right: 900px;
  }

  .care-slide .slide-button {
    margin-inline-start: 350px;
  }

  .ordering-slide {
    background-position-x: 60%;
  }

  .ordering-slide .slide__content {
    padding-left: 400px;
    padding-right: 910px;
  }

  .ordering-slide .slide-button {
    margin-left: 400px;
  }

  .slick-prev {
    left: 350px;
  }

  .slick-next {
    right: 350px;
  }
}

@media (min-width: 1651px) and (max-width: 1919px) {
  .care-slide::before {
    background-position-X: 950px;
    background-position-y: 55px;
  }

  .care-slide .slide__content {
    padding-left: 220px;
    padding-right: 840px;
  }

  .care-slide .slide-button {
    margin-inline-start: 220px;
  }

  .ordering-slide {
    background-position-x: 60%;
  }

  .ordering-slide .slide__content {
    padding-left: 220px;
    padding-right: 820px;
  }

  .ordering-slide .slide-button {
    margin-left: 220px;
  }

  .slick-prev {
    left: 220px;
  }

  .slick-next {
    right: 220px;
  }
}

@media (min-width: 1440px) and (max-width: 1650px) {
  .care-slide::before {
    background-position-X: 850px;
    background-position-y: 55px;
  }

  .care-slide .slide__content {
    padding-right: 700px;
  }

  .ordering-slide {
    background-position-x: 60%;
    background-position-y: 40%;
  }

  .ordering-slide .slide__content {
    padding-left: 112px;
    padding-right: 720px;
  }

  .ordering-slide .slide-button {
    margin-left: 112px;
  }
}

@media (min-width: 1244px) and (max-width: 1439px) {
  .care-slide::before {
    background-position-X: 750px;
    background-position-y: 40px;
  }

  .care-slide .slide__content {
    padding-right: 620px;
  }

  .ordering-slide {
    background-position-x: 30%;
    background-position-y: 0%;
  }

  .ordering-slide .slide__content {
    padding-right: 600px;
  }
}

@media (min-width: 1024px) and (max-width: 1243px) {
  .care-slide::before {
    background-position-X: 640px;
    background-position-y: 40px;
  }

  .care-slide .slide__content {
    padding-right: 500px;
  }

  .ordering-slide {
    background-position-x: 0%;
  }

  .ordering-slide .slide__content {
    padding-right: 520px;
  }
}

@media (min-width: 880px) and (max-width: 1023px) {
  .care-slide::before {
    background-position-X: 580px;
    background-position-y: 20px;
  }

  .care-slide .slide__content {
    padding-right: 340px;
  }

  .ordering-slide {
    background-position-x: 20%;
  }

  .ordering-slide .slide__content {
    padding-right: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .nav-menu {
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center; 
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .footer__nav {
    flex-direction: column;
    row-gap: 29px;
  }
}

@media (min-width: 768px) and (max-width: 879px) {
  .care-slide::before {
    background-position-x: 500px;
    background-position-y: 40px;
  }

  .care-slide .slide__content {
    padding-right: 340px;
  }

  .ordering-slide {
    background-position-x: 30%;
    background-position-y: 0%;
  }

  .ordering-slide .slide__content {
    padding-left: 112px;
    padding-right: 220px;
  }

  .ordering-slide .slide-button {
    margin-left: 112px;
  }
}

@media (width <= 767px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 32px 0px;
    padding: 0px 20px;
  }
  
  .nav-menu, 
  .social {
    display: none;
  }

  .header__nav {
    justify-content: space-between;
  }

  .header__burger-button {
    display: block;
    inline-size: 32px;
    block-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: none;
  }

  .header__burger-button--open {
    background-image: url(../svg/menu.svg);
  }

  .header__burger-button--close {
    position: absolute;
    background-image: url(../svg/menu_close.svg);
    background-color: transparent;
    top: 30px;
    right: 32px;
    inline-size: 24px;
    block-size: 24px;
  }

  .burger-menu__container {
    block-size: 100dvb;
    inline-size: 100dvi;
    min-block-size: 568px;
    min-inline-size: 320px;
    justify-self: center;
    position: fixed;
    padding: 0;
    border: none;
    background-color: #394573;
  }

  body:has(.burger-menu[open]) {
    overflow: hidden;
  }

  .burger-menu__nav {
    place-items: center;
  }

  .burger-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    block-size: 100dvh;
    gap: 24px;
    font-size: 24px;
    font-weight: 400;
    color: #BEE7E8;
  }

  .logo {
    gap: 12px;
  }

  .logo__icon {
    inline-size: 38px;
    block-size: 38px;
  }

  .logo__text {
    font-size: 17px;
  }

  .main {
    margin-block-start: 0;
  }

  .slides__container {
    inline-size: clamp(17.5rem, 71.588vw + 3.182rem, 37.5rem);
    justify-self: center;
  }

  .care-slide {
    clip-path: none;
    background-color: #394573;
    background-image: url(../images/care-slide__mobile-image.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    border-radius: 24px;
  }
  
  .ordering-slide {
    background-image: url(../images/ordering-slide__mobile-image.png);
    background-size: cover;
    border-radius: 24px;
  }

  .slide__content {
    padding: 32px 20px 0px 20px;
    gap: 16px;
    margin-block-end: 21px;
  }

  .ordering-slide .slide__content {
    padding-block-start: 32px;
    padding-right: 55px;
    margin-block-end: 111px;
  }

  .care-slide .slide__text {
    display: none;
  }

  .slide__mobile-text {
    display: inline;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.5893rem + 1.4286vw, 1.875rem);
  }

  .ordering-slide .slide__text {
    font-weight: 500;
  }

  .slide-button {
    block-size: 40px;
    max-inline-size: 160px;
    margin-inline-start: 20px;
    margin-block-end: 182px;
  }

  .ordering-slide .slide-button {
    margin-block-end: 32px;
  }

  .ordering-slide__delivery-price {
    gap: 5px;
  }

  .slick-dots {
    display: flex !important;
    font-size: 0;
    bottom: -30px;
    left: 120px;
    position: absolute;
    z-index: 10;
    margin: 0;
    gap: 8px;
  }

  .slick-dots li {
    list-style: none;
  }

  .slick-dots button {
    inline-size: 16px;
    block-size: 16px;
    border-radius: 50%;
    border: none;
    background-color: #BEE7E8;
  }

  .slick-active button {
    background-color: #394573;
  }

  .slick-arrow {
    display: none !important;
  }

  .cards {
    margin: 80px 20px 48px;
  }

  .cards__container {
    flex-direction: column;
  }

  .card {
    inline-size: clamp(17.5rem, 71.588vw + 3.182rem, 37.5rem);
    border-radius: 24px;
  }

  .consultation-card__front {
    display: none;
  }

  .consultation-card__inner {
    transition: none;
    block-size: 405px;
  }

  .consultation-card__back {
    backface-visibility: visible;
    transform: none;
  }

  .consultation-card:hover .consultation-card__inner {
    transform: none;
  }

  .consultation-card__back .card__content {
    padding: 32px 20px 0px 20px;
    margin-block-end: 32px;
    gap: 8px;
  }

  .consultation-card__back .button {
    margin-block-end: 40px;
  }

  .consultation-card .card__title {
    text-align: center;
  }

  .consultation-price {
    justify-content: center;
    align-items: center;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block-start: 8px;
    line-height: 1em;
  }

  .benefits__desk-description {
    display: none;
  }

  .benefits__mobile-description {
    display: inline;
  }

  .benefits__item {
    gap: 8px;
  }

  .check__icon {
    display: none;
  }

  .check__mobile-icon {
    display: block;
    min-inline-size: 32px;
    min-block-size: 32px;
  }

  .button {
    padding: 16px 29px 15px 30px;
    margin-inline-start: 30px;
  }

  .card__description {
    gap: 8px;
    padding: 243px 20px 0px;
  }

  .consultation-card {
    max-inline-size: 280px;
  }

  .breeds-card .card__content {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    gap: 15px;
  }

  .card__info {
    padding: 10px 0 8px 20px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    line-height: 1em;
  }

  .pop-up {
    padding: 40px 20px 0px;
    border-radius: 24px;
    margin: 0;
    justify-self: center;
    align-self: center;
  }

  .pop-up__content {
    gap: 16px;
    margin-block-end: 0;
  }

  .pop-up__radio {
    gap: 8px;
    margin-block-start: 8px;
  }

  .pet-info-form input {
    block-size: 24px;
  }

  .radio-form {
    gap: 24px;
  }

  .radio-form__container {
    gap: 8px;
  }

  .submit-button {
    margin: 32px 0px 24px;
    padding: 12px 63px;
    text-align: center;
  }

  .close-button {
    background-image: url(../svg/close.svg);
    top: 16px;
    right: 16px;
    padding: 0;
    background-color: transparent;
  }

  .footer {
    margin-block-end: 49px;
    padding: 0;
  }

  .footer__nav {
    flex-direction: column-reverse;
    gap: 29px;
  }

  .copyright {
    display: none;
  }

  .copyright-mobile {
    display: inline;
    text-align: center;
  }

  .footer .logo {
    margin-inline-start: 0;
  }
}

@media (min-width: 400px) and (max-width: 529px) {
  .ordering-slide {
    background-position-x: 30%;
    background-position-y: 40%;
  }

  .slick-dots {
    left: 200px;
  }
}

@media (min-width: 530px) and (max-width: 767px) {
  .ordering-slide {
    background-position-x: 50%;
    background-position-y: 45%;
  }

  .slick-dots {
    left: 280px;
  }
}